
<app-header></app-header>
<!-- Toolbar -->


<main class="main">
  <div class="card cardTemplate weather-forecast" >
    <div class="location">{{injectedForecast.label}}</div>
    <div class="date">{{injectedForecast.currently.time}}</div>
    <div class="description">{{injectedForecast.currently.summary}}</div>
    <div class="current">
      <div class="visual">
        <div class="icon" [ngClass]="injectedForecast.currently.icon">{{ injectedForecast.currently.icon }}</div>
        <div class="temperature">
          <span class="value"> {{ injectedForecast.currently.temperature}}</span><span class="scale">°F</span>
        </div>
      </div>
      <div class="description">
        <div class="feels-like">
          <span class="value">{{injectedForecast.currently.apparentTemperature}}</span><span class="scale">°F</span>
        </div>
        <div class="precip">{{injectedForecast.currently.precipProbability}}</div>
        <div class="humidity">{{injectedForecast.currently.humidity}}</div>
        <div class="wind">
          <span class="value">{{injectedForecast.currently.windSpeed}}</span>
          <span class="scale">mph</span>
          <span class="direction">{{injectedForecast.currently.windBearing}}</span>°
        </div>
      </div>
    </div>
    <div class="future">
      <app-oneday *ngFor="let x of climas " [dados]="x"></app-oneday>
    </div>
  </div>
</main>




<router-outlet></router-outlet>
