
<app-header></app-header>
<!-- Toolbar -->


<main class="main">
  <div *ngFor="let clima of climas" class="card cardTemplate weather-forecast">
    <div class="location">{{clima.label}}</div>
    <div class="date">{{ (clima.currently.time * 1000) | date }}</div>
    <div class="description">{{clima.currently.summary}}</div>
    <div class="current">
      <div class="visual">
        <div class="icon" [ngClass]="clima.currently.icon"></div>
        <div class="temperature">
          <span class="value"> {{ clima.currently.temperature| number:'1.0-0'}}</span><span class="scale">°F</span>
        </div>
      </div>
      <div class="description">
        <div class="feels-like">
          <span class="value">{{clima.currently.apparentTemperature| number:'1.0-0'}}</span><span class="scale">°F</span>
        </div>
        <div class="precip">{{clima.currently.precipProbability * 100| number:'1.0-0'}} %</div>
        <div class="humidity">{{clima.currently.humidity * 100| number:'1.0-0'}} %</div>
        <div class="wind">
          <span class="value">{{clima.currently.windSpeed | number:'1.0-0'}}</span>
          <span class="scale">mph</span>
          <span class="direction">{{clima.currently.windBearing}}</span>°
        </div>
      </div>
    </div>
    <div class="future">
      <app-oneday *ngFor="let x of clima.daily.data " [dados]="x"></app-oneday>
    </div>
  </div>
</main>




<router-outlet></router-outlet>
