.icon {
  background-repeat: no-repeat;
  background-size: contain; }
.icon.clear-day {
  background-image: url('../../assets/images/clear.png');
}
.icon.clear-night {
  background-image: url('../../assets/images/clear.png'); }
.icon.rain {
  background-image: url('../../assets/images/rain.png'); }
.icon.snow {
  background-image: url('../../assets/images/snow.png'); }
.icon.sleet {
  background-image: url('../../assets/images/sleet.png'); }
.icon.wind {
  background-image: url('../../assets/images/wind.png'); }
.icon.fog {
  background-image: url('../../assets/images/fog.png'); }
.icon.cloudy {
  background-image: url('../../assets/images/cloudy.png'); }
.icon.partly-cloudy-day {
  background-image: url('../../assets/images/partly-cloudy.png'); }
.icon.partly-cloudy-night {
  background-image: url('../../assets/images/partly-cloudy.png'); }
.icon.thunderstorms {
  background-image: url('../../assets/images/thunderstorm.png'); }
